 <div class="row">
    <div class="col-xs-12">
        <hr>
            <label>Urutan ke</label>
            <input type="text" class="form-control" [(ngModel)]="newItemlist">
            <label>Judul</label>
            <input type="text" class="form-control" [(ngModel)]="newItemName">
            <label>Deskripsi</label>
            <input type="text" class="form-control" [(ngModel)]="newItemDesc">
            <br>
            <button class="btn btn-primary" (click)="onDispAdded()">
                 Add
            </button>
    </div>
 </div>
